@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

/* * {
    box-sizing: border-box;
} */

/* html, body {
    min-height: 100%;
    background: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

body, ul, ol {
    margin: 0;
}

header {
    text-align: center;
    padding: 16px;
    width: 100%;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    font-size: 70px;
    font-weight: 600;
    font-family: 'Rubik Moonrocks', cursive;
    color: rgb(0, 0, 0);
}

section#main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

div.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 36px;
    width: 200px;
}


#colorPicker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 100px;
    height: 100px;
    border: none;
}

#colorPicker::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
}

#colorPicker::-moz-color-swatch {
    border-radius: 50%;
    border: none;
}

#colorPicker:hover {
    cursor: pointer;
    transition-duration: 0.4s;
    transition-property: transform;
    transform: scale(1.3);
    transition-timing-function: ease-in-out;
}

.mode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100px;
}

.mode button {
    width: 100%;
    color: white;
    background: #333333;
    padding: 16px;
    border-radius: 12px;
}

.mode button:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background: #f5f5f5;
    box-shadow: 2px 2px #333333;
    box-shadow:
    0px 0px 5.1px rgba(0, 0, 0, 0.065),
    0px 0px 12.2px rgba(0, 0, 0, 0.093),
    0px 0px 22.9px rgba(0, 0, 0, 0.115),
    0px 0px 40.9px rgba(0, 0, 0, 0.137),
    0px 0px 76.5px rgba(0, 0, 0, 0.165),
    0px 0px 183px rgba(0, 0, 0, 0.23);

}

.erase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.erase img:nth-child(1) {
    width: 100px;
    height: auto;
}

.erase img:nth-child(2) {
    width: 80px;
    height: auto;
}

.erase:hover {
    /* transform: scale(1.02); */
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.erase:hover > #bin {
    transform: translate(0, -5px);
    transition: all 0.2s ease-in-out;
}

div.outer-container {
    width: 600px;
    height: 600px;
    background-color: #333333;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 32px;
    margin: 0 25px 0 25px;
}

.title-container {
    color: white;
    font-size: 32px;
    margin: 4px 0 12px 0;
}

.grid-container {
    width: 500px;
    height: 500px;
    background-color: white;
}

.adjust {
    display: flex;
    flex-direction: flex;
    justify-content: space-between;
    gap: 300px;
    margin: 12px 0 3px 0;
}

.adjust div {
    width: 75px;
    height: 75px;
    background-color: white;
    border-radius: 50%;
}

/* input[type='range'] {
    position: absolute;
    top: 40%;
    transform: rotate(270deg);
    margin: 0;
} */

.slider {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap:70px;
    transform: translate(0, -60px);
}

input[type='range'] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent; 
    transform: rotate(270deg);

}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

input[type='range']:focus {
    outline: none;
  }

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
  }
  
  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  
  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #333333;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #333333;
  }
  
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 30%;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #333333;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  
  input[type=range]::-ms-track {
    width: 30%;
    height: 100%;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #333333;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #333333;
  }
  input[type=range]::-ms-fill-upper {
    background: #333333;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #333333;
  }

section.empty {
    height: 100vh;
    width: 100%;
  }

  footer {
    padding: 36px;
    text-align: center;
    font-size: 25px;
  }

  footer a {
    text-decoration: none;
    color: black;
  }

  footer img {
    width: 25px;
    height: auto;
    transition: transform .7s ease-in-out;
    margin-left: 5px;
  }

  footer img:hover {
    transition: all 0.5s ease-in-out;
    transform: rotate(360deg) scale(1.5);
  }

  section#rainbow {
    display: flex;
    justify-content: center;
  }
