* {
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    background: #fff;
    color: #000;
}

body, ul, ol {
    margin: 0;
}

header {
    text-align: center;
    padding: 32px;
    font-size: 54px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

section#main {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 36px;
    width: 200px;
}


#colorPicker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 100px;
    height: 100px;
    border: none;
}

#colorPicker::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
}

#colorPicker::-moz-color-swatch {
    border-radius: 50%;
    border: none;
}

#colorPicker:hover {
    cursor: pointer;
    transition-duration: 0.2s;
    transition-property: transform;
    transform: scale(1.1);
    transition-timing-function: ease-in-out;
}

.mode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100px;
}

.mode button {
    width: 100%;
    color: white;
    background: #333333;
    padding: 16px;
}

.mode button:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in;
}

.erase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.erase img:nth-child(1) {
    width: 100px;
    height: auto;
}

.erase img:nth-child(2) {
    width: 80px;
    height: auto;
}

.erase:hover {
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
}

.erase:hover > #bin {
    transform: translate(0, -5px);
    transition: all 0.2s ease-in-out;
}
